absl-py==0.2.2
astor==0.6.2
backcall==0.1.0
backports.weakref==1.0.post1
bleach==1.5.0
certifi==2018.11.29
chardet==3.0.4
cycler==0.10.0
Cython==0.29.2
decorator==4.3.0
defusedxml==0.5.0
entrypoints==0.3
enum34==1.1.6
fuel==0.2.0
funcsigs==1.0.2
futures==3.1.0
gast==0.2.0
grpcio==1.12.1
h5py==2.7.1
html5lib==0.9999999
idna==2.8
ipykernel==5.1.0
ipython==7.2.0
ipython-genutils==0.2.0
ipywidgets==7.4.2
jedi==0.11.0
Jinja2==2.10
jsonschema==2.6.0
jupyter-client==5.2.4
jupyter-core==4.4.0
kiwisolver==1.0.1
macau==0.5.2
Markdown==2.6.11
MarkupSafe==1.1.0
matplotlib==3.0.2
mistune==0.8.4
mkl-fft==1.0.10
mkl-random==1.0.2
mock==2.0.0
nbconvert==5.4.0
nbformat==4.4.0
networkx==2.0
notebook==5.7.4
numexpr==2.6.9
numpy==1.15.4
olefile==0.44
pandas==0.18.0
pandocfilters==1.4.2
parso==0.1.0
pbr==4.0.4
pexpect==4.2.1
picklable-itertools==0.1.1
pickleshare==0.7.4
Pillow==4.3.0
progressbar2==3.39.2
prometheus-client==0.5.0
prompt-toolkit==2.0.7
protobuf==3.6.0
ptyprocess==0.5.2
Pygments==2.2.0
pygraphviz==1.5
pyparsing==2.3.0
python-dateutil==2.7.5
python-utils==2.3.0
pytz==2018.7
PyYAML==4.2b1
pyzmq==17.1.2
requests==2.21.0
scikit-chem==0.0.6
scikit-learn==0.19.1
scipy==1.1.0
Send2Trash==1.5.0
simplegeneric==0.8.1
six==1.11.0
sklearn==0.0
tables==3.4.4
tensorboard==1.8.0
tensorflow-gpu==1.8.0
termcolor==1.1.0
terminado==0.8.1
testpath==0.4.2
tflearn==0.3.2
tornado==5.1.1
traitlets==4.3.2
urllib3==1.24.1
wcwidth==0.1.7
Werkzeug==0.14.1
widgetsnbextension==3.4.2
